In [ ]:
import numpy as np
import pandas as pd
from ast import literal_eval

In [ ]:
df_movies = pd.read_csv("/content/movies_metadata.csv")
df_ratings = pd.read_csv("/content/ratings.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

FileNotFoundError: ignored

In [ ]:
df_movies.head()

We now modify our Genre column and convert it to list format.

In [ ]:
df_movies['genres'] = df_movies['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
df_movies['spoken_languages'] = df_movies['spoken_languages'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
df_movies['production_companies'] = df_movies['production_companies'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
df_movies['production_countries'] = df_movies['production_countries'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [ ]:
df_movies.head(3)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [ ]:
df_movies["vote_count"] = df_movies["vote_count"].fillna(0).astype("int")
df_movies["vote_average"] = df_movies["vote_average"].fillna(0).astype("int")

In [ ]:
C = df_movies["vote_average"].mean()
C

5.24420446047596

In [ ]:
m = df_movies["vote_count"].quantile(0.95)
m

433.75

In [ ]:
def wr(df):
    return (df["vote_count"]/(df["vote_count"]+m) * df["vote_average"]) + (m/(m+df["vote_count"]) * C)

In [ ]:
wr(df_movies)

0        6.869788
1        5.884842
2        5.376460
3        5.299142
4        5.174576
           ...
45461    5.241343
45462    5.270003
45463    5.213584
45464    5.244204
45465    5.244204
Length: 45466, dtype: float64

In [ ]:
df_movies["release_year"] = pd.to_datetime(df_movies["release_date"], errors = "coerce").astype("str")

In [ ]:
df_movies

       adult  ... release_year
0      False  ...   1995-10-30
1      False  ...   1995-12-15
2      False  ...   1995-12-22
3      False  ...   1995-12-22
4      False  ...   1995-02-10
...      ...  ...          ...
45461  False  ...          NaT
45462  False  ...   2011-11-17
45463  False  ...   2003-08-01
45464  False  ...   1917-10-21
45465  False  ...   2017-06-09

[45466 rows x 25 columns]

In [ ]:
df_movies["release_year"] = df_movies["release_year"].apply(lambda x: x.split("-")[0] if x!=np.nan else np.nan)

In [ ]:
df_movies

       adult  ... release_year
0      False  ...         1995
1      False  ...         1995
2      False  ...         1995
3      False  ...         1995
4      False  ...         1995
...      ...  ...          ...
45461  False  ...          NaT
45462  False  ...         2011
45463  False  ...         2003
45464  False  ...         1917
45465  False  ...         2017

[45466 rows x 25 columns]

In [ ]:
df_credits = pd.read_csv(r"/content/credits.csv")

In [ ]:
df_keywords = pd.read_csv(r"/content/keywords.csv")

In [ ]:
df_keywords

           id                                           keywords
0         862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1        8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2       15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3       31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4       11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...
...       ...                                                ...
46414  439050             [{'id': 10703, 'name': 'tragic love'}]
46415  111109  [{'id': 2679, 'name': 'artist'}, {'id': 14531,...
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

Our keywords column is a stringified dictionary and we must convert it into a dictionary from which we  can access the indexes/keys

To do this we use ast.literal_eval which basically converts stringified dictionary to a python dictionary. We could have use pythons 'eval' fucntion but ast provides a more stable approach and result.

In [ ]:
df_keywords['keywords'] = df_keywords['keywords'].fillna('[]').apply(literal_eval)

Having done this, now we need to extract the key values

In [ ]:
df_keywords["keywords"] = df_keywords["keywords"].apply(lambda x: [i['name'].strip().lower() for i in x] if isinstance(x, list) else [])

isinstance checks whether x is a list i.e whether we hv a emoty list or no

In [ ]:
df_keywords["id"] = df_keywords["id"].astype("int")

In [ ]:
df_keywords

           id                                           keywords
0         862  [jealousy, toy, boy, friendship, friends, riva...
1        8844  [board game, disappearance, based on children'...
2       15602  [fishing, best friend, duringcreditsstinger, o...
3       31357  [based on novel, interracial relationship, sin...
4       11862  [baby, midlife crisis, confidence, aging, daug...
...       ...                                                ...
46414  439050                                      [tragic love]
46415  111109                              [artist, play, pinoy]
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [ ]:
from google.colab import files
#df_keywords.to_csv('/content/filename.csv')

In [ ]:
df_credits.head(4)

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357

[4 rows x 3 columns]

In [ ]:
df_credits["id"] = df_credits["id"].astype("int")

In [ ]:
df_credits["cast"] = df_credits["cast"].fillna("[]")

In [ ]:
df_credits["cast"] = df_credits["cast"].apply(literal_eval).apply(lambda x: [i["character"].lower() for i in x] if isinstance(x, list) else [])

In [ ]:
df_credits["crew"] = df_credits["crew"].apply(literal_eval)

Now for crew we only want the name of the director

In [ ]:
def get_directors_name(df):
  for i in df:
    if i["job"] == "Director":
      return i["name"].strip().replace(" ", "")
    else :
      return np.nan

In [ ]:
df_credits["director"] = df_credits["crew"].apply(get_directors_name)

In [ ]:
df_credits

                                                    cast  ...         director
0      [woody (voice), buzz lightyear (voice), mr. po...  ...     JohnLasseter
1      [alan parrish, samuel alan parrish / van pelt,...  ...              NaN
2      [max goldman, john gustafson, ariel gustafson,...  ...     HowardDeutch
3      [savannah 'vannah' jackson, bernadine 'bernie'...  ...   ForestWhitaker
4      [george banks, nina banks, franck eggelhoffer,...  ...              NaN
...                                                  ...  ...              ...
45471                                             [, , ]  ...  HamidNematollah
45472  [sister angela, homer, crazy woman/virgin, ama...  ...          LavDiaz
45473  [emily shaw, det. mark winston, jayne ferré, a...  ...     MarkL.Lester
45474                                         [, , , , ]  ...  YakovProtazanov
45475                                                 []  ...     DaisyAsquith

[45476 rows x 4 columns]

In [ ]:
df_credits["cast_size"] = df_credits["cast"].apply(lambda x : len(x))

In [ ]:
df_credits["crew_size"] = df_credits["crew"].apply(lambda x: len(x))

In [ ]:
df_credits_clean = df_credits

In [ ]:
df_credits_clean = df_credits_clean.drop(columns = ["crew"])

In [ ]:
df_credits_clean

                                                    cast  ...  crew_size
0      [woody (voice), buzz lightyear (voice), mr. po...  ...        106
1      [alan parrish, samuel alan parrish / van pelt,...  ...         16
2      [max goldman, john gustafson, ariel gustafson,...  ...          4
3      [savannah 'vannah' jackson, bernadine 'bernie'...  ...         10
4      [george banks, nina banks, franck eggelhoffer,...  ...          7
...                                                  ...  ...        ...
45471                                             [, , ]  ...          9
45472  [sister angela, homer, crazy woman/virgin, ama...  ...          6
45473  [emily shaw, det. mark winston, jayne ferré, a...  ...          5
45474                                         [, , , , ]  ...          2
45475                                                 []  ...          1

[45476 rows x 5 columns]

In [ ]:
df_credits_clean.to_csv('/content/credits_clean.csv')

In [ ]:
df_keywords

           id                                           keywords
0         862  [jealousy, toy, boy, friendship, friends, riva...
1        8844  [board game, disappearance, based on children'...
2       15602  [fishing, best friend, duringcreditsstinger, o...
3       31357  [based on novel, interracial relationship, sin...
4       11862  [baby, midlife crisis, confidence, aging, daug...
...       ...                                                ...
46414  439050                                      [tragic love]
46415  111109                              [artist, play, pinoy]
46416   67758                                                 []
46417  227506                                                 []
46418  461257                                                 []

[46419 rows x 2 columns]

In [ ]:
s = df_keywords.apply(lambda x: pd.Series(x['keywords']),axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
s = s.stack()

In [ ]:
s = s.reset_index(level = 1, drop = True)
s

0            jealousy
0                 toy
0                 boy
0          friendship
0             friends
             ...
46411    mockumentary
46414     tragic love
46415          artist
46415            play
46415           pinoy
Length: 158680, dtype: object

In [ ]:
f = s.value_counts()

In [ ]:
f

woman director           3115
independent film         1930
murder                   1308
based on novel            835
musical                   734
                         ...
dump truck                  1
country road                1
laotian soldier             1
소원                          1
christmas tree dealer       1
Length: 19950, dtype: int64

In [ ]:
f = f[f>10]
f

woman director        3115
independent film      1930
murder                1308
based on novel         835
musical                734
                      ...
fired from the job      11
singapore               11
balloon                 11
nazi occupation         11
bigotry                 11
Length: 2678, dtype: int64

In [ ]:
from nltk.stem.snowball import SnowballStemmer as ss

In [ ]:
pl = ss('english')

In [ ]:
df_keywords["keywords"] = df_keywords["keywords"].apply(lambda x: [pl.stem(i) for i in x])

In [ ]:
def mince(x):
  w = []
  for i in x:
    if i in f:
      w.append(i)
  return w

In [ ]:
df_keywords["keywords"] = df_keywords["keywords"].apply(mince)

In [ ]:
df_keywords

           id                                    keywords
0         862              [toy, boy, friendship, friend]
1        8844    [based on children's book, giant insect]
2       15602                         [fish, best friend]
3       31357  [based on novel, interracial relationship]
4       11862    [daughter, mother daughter relationship]
...       ...                                         ...
46414  439050                                          []
46415  111109                       [artist, play, pinoy]
46416   67758                                          []
46417  227506                                          []
46418  461257                                          []

[46419 rows x 2 columns]

In [ ]:
df_keywords.to_csv('/content/keywords_clean.csv')

In [ ]:
df_movies.to_csv('/content/movies_metadata_clean.csv')

In [ ]:
import pandas as pd
from ast import literal_eval

In [ ]:
df = pd.read_csv(r"https://raw.githubusercontent.com/Rohit01-zoey/CS419M/main/credits_clean.csv")

In [ ]:
df["cast"] = df["cast"].apply(literal_eval)

In [ ]:
df

       Unnamed: 0  ...         director
0               0  ...     JohnLasseter
1               1  ...              NaN
2               2  ...     HowardDeutch
3               3  ...   ForestWhitaker
4               4  ...              NaN
...           ...  ...              ...
45471       45471  ...  HamidNematollah
45472       45472  ...          LavDiaz
45473       45473  ...     MarkL.Lester
45474       45474  ...  YakovProtazanov
45475       45475  ...     DaisyAsquith

[45476 rows x 4 columns]

In [ ]:
df["cast"] = df["cast"].apply(lambda x: x[:3] if len(x)>3 else x)

In [ ]:
df

       Unnamed: 0  ...         director
0               0  ...     JohnLasseter
1               1  ...              NaN
2               2  ...     HowardDeutch
3               3  ...   ForestWhitaker
4               4  ...              NaN
...           ...  ...              ...
45471       45471  ...  HamidNematollah
45472       45472  ...          LavDiaz
45473       45473  ...     MarkL.Lester
45474       45474  ...  YakovProtazanov
45475       45475  ...     DaisyAsquith

[45476 rows x 4 columns]

In [ ]:
df = pd.read_csv('/content/links_small.csv')

In [ ]:
df

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9120   162672  3859980  402672.0
9121   163056  4262980  315011.0
9122   163949  2531318  391698.0
9123   164977    27660  137608.0
9124   164979  3447228  410803.0

[9125 rows x 3 columns]

In [ ]:
df["movieId"] = df["movieId"].astype("int")

In [ ]:
df["imdbId"] = df["imdbId"].astype("int")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9125 non-null   int64
 1   imdbId   9125 non-null   int64
 2   tmdbId   9112 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 214.0 KB

In [ ]:
df.to_csv('/content/links_small.csv')